/* -------------------------------------------------------------------------- */



div.callout-tip.callout-style-default>.callout-header {
    background-color: #1A6384FF ;
    color: white;
}

div.callout-tip.callout {
    border-left-color: #1A6384FF ;
}

div.callout-note.callout-style-default>.callout-header {
    background-color: #1A6384FF ;
}
