/* -------------------------------------------------------------------------- */



div.callout-tip.callout-style-default>.callout-header {
    background-color: #5B1414FF;
    color: white;
}

div.callout-tip.callout {
    border-left-color: #5B1414FF ;
}

div.callout-note.callout-style-default>.callout-header {
    background-color: #5B1414FF ;
}